.status--commenting {
    opacity: 0;
    position: relative;
    bottom: 0;
}

.visible {
    opacity: 1;
}

.messenger {
    display: flex;
    flex-direction: column;
}

.messages__wrapper {
    display: flex;
    justify-content: center;
}

.messenger__messages {
    height: 300px;
    overflow-y: auto;
    width: 700px;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.my-message__text, .other-message__text {
    word-wrap: break-word;
}

.my-message {
    align-self: flex-end;
    margin-left: 5px;
}

.my-message .my-message__text {
    background: lightblue;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    display: block;
}

.other-message {
    align-self: flex-start;
}

.other-message .other-message__text {
    background: lightgreen;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    display: block;
}

.messenger__older-messages-toggle {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.messenger_conversation-start {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.header {
    font-size: 18px;
    text-align: end;
    margin-right: 45px;
    margin-top: 16px;
}

.messenger__input {
    display: flex;
    justify-content: center;
}

.messenger__submit-block {
    width: 734px;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

textarea {
    resize: none;
    overflow: auto;
    width: 500px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
}

textarea:focus {
    transition: none;
}

.send_message {
    cursor: pointer;
    width: 200px;
    border-radius: 3px;
    background: lightblue;
    border: 2px solid black;
    font-size: 18px;
}
